@import '../../scss/_mixins.scss';
fa-icon.orange{
    color:orange;
}
#wholeContainer{
    color:#f9f9f9;
    @include bodyBuilder(100vw, 150vh);
    background-color: rgb(34, 37, 41);
    box-shadow: -3px -3px 7px #f9f9f9f9 , 3px 3px 5px rgba(33, 37, 41);
    min-height: 94.4vh;
    .row{
        @include bodyBuilder(100%, 100%);
        .avatarCont{
            @include bodyBuilder(100%, 27vh);
            
            #avatar{
                min-width: 140px;
                @include bodyBuilder(30vw, 95%);
                box-shadow: -3px -3px 7px rgba(33, 37, 41), 3px 3px 5px #000000da;
                border-radius: 15px;
                img{
                    @include bodyBuilder(100%, 100%);
                    border-radius: 15px;
                    box-shadow: -3px -3px 7px #000000da inset, 3px 3px 5px rgba(33, 37, 41) inset;

                }
            }
        }

        .changeAvatar{
            @include bodyBuilder(100%, 10vh);
            text-align: center;
            font-size: 16px;
            #avatarInput{
                @media screen and (max-width: 600px) 
                {
                    display: none;
                    color:#f9f9f9f9;
                    cursor: pointer;
                    
                }
            }
            label{
                cursor: pointer;
                transition: 0.4s;
                display: none;
                @media screen and (max-width: 600px) 
                {
                    display: block;
                    color:#f9f9f9f9;
                    cursor: pointer;
                    
                }
                &:hover{
                    font-size:20px;
                }
            }
        }
        .text{
            width: 80%;
            height: 70%;
            background-color: rgb(29, 32, 36);
            margin:0 auto;
            border:1px solid rgba(26, 25, 25, 0.801);
            border-radius:10px;
            font-size: 1.3rem;
        }
    }
}

#bioArea{
    @include bodyBuilder(100%, 20vh);
    font-size: 16px;
}
#sendFormButton{
    @include bodyBuilder(100%, 5vh);
    border-radius: 15px;
}
#choiceList{
    width: 100%;
    text-align: center;
}
.hrLike{
    width: 90%;
    height: 2px;
    background-color: rgba(19, 20, 22, 0.76);
    margin:0 auto;  
    
}

//comment Section

.commentsContainer{
    color:#f9f9f9;
    height: auto;
    font-size:1.15em;
    .commentRow{
        @include bodyBuilder(100%, 100%);
        background-color: rgb(34, 37, 41);
    }
}

#rating{
    fa-icon{
        &:hover{
            cursor: pointer;
            
            font-size:1.2em;
        }
    }
}
.purple{
    color:purple;
}

.comments{
    height: auto;

    .comment{
        border:1px solid black;
        height: 20%;
        min-height: 250px;

        .rating{
            height: 20%;
            
        }
        .title{
            height: 30%;
        }
        .commentValue{
            height: 50%;
            background-color: rgb(32, 30, 30);
            overflow-y: auto;
            border:1.2px solid black;
        }
    }
}
